<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
	</p>This page describes the REST API that's available when the project is first created using the Yeoman generator. You should maintain this page for documentation of the API as the application is further developed.</p>
	<h3>HTTP GET serverhost/users</h3>
	
	<h3>HTTP POST serverhost/users</h3>
	<p>This method accepts a JSON object of User type and creates a new User record in the database.</p>
	
	<hr/>
	<h1>Object Schemas</h1>
	<h3>User</h3>
	<ul>
		<li>firstName - String</li>
		<li>lastname - String</li>
		<li>email - String</li>
		<li>username - String</li>
		<li>password - String</li>
	</ul>
	 